.post_list
  - page_articles.each_with_index do |article, i|
    .post{data: {href: article.url}}
      .data
        %span.date= article.date.strftime '%e %B %Y'
        .tags_list
          - article.tags.each do |tag, articles|
            = link_to tag, tag_path(tag)
      .intro
        %h2= link_to article.title, article
        = article.summary(500)

