---
title: Dane Lowe -  A blog on Ruby, Rails and Magento
pageable: true
per_page: 10
---
%h1{style: 'text-align: center'} A blog on Ruby and Magento

= partial 'partials/post_list'
= partial 'partials/pagination'

